{% extends 'base.html' %}
{% load static %}
{% block content %}

<div> 
    <img  class="my_image my_image_padding" src="{% static 'image/banner1.png' %}" alt="our products" style= width=600 height=500>
</div>






        
<div align="center">
<div class="why">
<div class="container"  align="center">
<div class="row why_row mx-auto">
{% for category in links %}   
<div class=" col-md-3">				
    <div class="why_item">    
        <div class="why_image">
            <img src="{{category.images.url}}" alt="{{category.name}}">
            <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                
            </div>
            
        </div>
        
        <div class="why_content text-center">
            <div class="why_title">{{category.name}}<br><br>Fast service</div>
                <div class="why_text">

                    <p>{{category.description}}
                        <br>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                </div>
            </div>
        </div> 
    </div> 
</div> 
</div> 
</div> 
</div> 
</div> 
<div>
          

    
       
        
                
       
{% endfor %}



<br>
<div> 
    <img  class="my_image my_image_padding" src="{% static 'image/banner2.png' %}" alt="our products" >
</div>
        
       
       
    

{% endblock %}